@import "tailwindcss";

@source "./*.{ts,tsx,html}";


.material-symbols-outlined {
	font-variation-settings:
		"FILL" 0,
		"wght" 400,
		"GRAD" 0,
		"opsz" 24;
}
body {
	background-color: #131313;
	color: #e2e2e2;
	font-family: "Inter", sans-serif;
}
.monolith-gradient {
	background: linear-gradient(135deg, #d2e5ff 0%, #9ecbff 100%);
}
.glass-panel {
	background: rgba(53, 53, 53, 0.6);
	backdrop-filter: blur(20px);
}

@theme {
	--color-outline: #8c919a;
	--color-on-tertiary: #680014;
	--color-error-container: #93000a;
	--color-background: #131313;
	--color-primary: #d2e5ff;
	--color-on-secondary: #2d3134;
	--color-surface-variant: #353535;
	--color-tertiary-fixed-dim: #ffb3b3;
	--color-on-secondary-fixed-variant: #43474b;
	--color-tertiary-fixed: #ffdad9;
	--color-on-tertiary-container: #a6112a;
	--color-on-error: #690005;
	--color-surface-dim: #131313;
	--color-on-secondary-container: #b2b5b9;
	--color-surface: #131313;
	--color-on-tertiary-fixed-variant: #920021;
	--color-on-error-container: #ffdad6;
	--color-outline-variant: #42474f;
	--color-inverse-surface: #e2e2e2;
	--color-secondary-container: #43474b;
	--color-tertiary-container: #ffb4b4;
	--color-surface-bright: #393939;
	--color-inverse-primary: #32618f;
	--color-tertiary: #ffdbda;
	--color-primary-fixed: #d0e4ff;
	--color-on-primary-fixed: #001d35;
	--color-on-surface: #e2e2e2;
	--color-primary-container: #9ecbff;
	--color-inverse-on-surface: #303030;
	--color-surface-container-highest: #353535;
	--color-secondary: #c3c7cb;
	--color-on-background: #e2e2e2;
	--color-surface-container-low: #1b1b1b;
	--color-surface-container: #1f1f1f;
	--color-on-tertiary-fixed: #400009;
	--color-on-primary-container: #245683;
	--color-secondary-fixed: #e0e3e7;
	--color-on-primary-fixed-variant: #134976;
	--color-surface-container-lowest: #0e0e0e;
	--color-on-secondary-fixed: #181c1f;
	--color-surface-tint: #9dcafe;
	--color-secondary-fixed-dim: #c3c7cb;
	--color-on-primary: #003257;
	--color-error: #ffb4ab;
	--color-on-surface-variant: #c2c7d0;
	--color-surface-container-high: #2a2a2a;
	--color-primary-fixed-dim: #9dcafe;

	--radius: 0.125rem;
	--radius-lg: 0.25rem;
	--radius-xl: 0.5rem;
	--radius-full: 0.75rem;

	--font-headline: "Inter", sans-serif;
	--font-body: "Inter", sans-serif;
	--font-label: "Inter", sans-serif;
}